Acoustic Waves in Periodic Structures, Metamaterials, and Porous Media_978-3-030-84300-7-Kommenteret.pdf
978-3-030-84300-7.pdf
Bruel & Kjaer Type 4002 Standing Wave Apparatus - med noter.pdf
Bruel og Kjaer Type 4002 Standing Wave Apparatus - Instructions and Applications - 1967.pdf
Bruel og Kjaer Type 4002 Standing Wave Apparatus - Instructions and Applications - 1970.pdf
campa_paper.pdf
DS_EN ISO 10534-1_2001.pdf
DS_EN ISO 10534-2_2023.pdf
PEARL HIFI - 4002_Standing_Wave_Apparatus.pdf
Standard.pdf
AAT_Project_3.pdf